NEXT_PUBLIC_SUPABASE_URL=https://rcxzpvqtlvbfwwdbwmcw.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_1rHEBJS6eokPeTSROC4U2w_EF3J5kH-
NEXT_PUBLIC_SITE_URL=https://tithonia.online
SSLCOMMERZ_STORE_ID=
SSLCOMMERZ_STORE_PASSWORD=
SSLCOMMERZ_IS_LIVE=false
